<nav class="nav flex-column nav-pills varticalNav" id="v-contact-tab" role="tablist">
  <a class="nav-link" id="v-myContacts-tab" aria-controls="v-myContacts" data-toggle="pill" role="tab" routerLink = 'myContacts'>My Contacts</a>
  <a class="nav-link" id="v-createContactForm-tab" aria-controls="v-createContactForm" data-toggle="pill" role="tab" routerLink = 'createContactForm'>Create Contact</a>
  <a class="nav-link" id="v-deleteContacts-tab" aria-controls="v-deleteContacts" data-toggle="pill" role="tab" routerLink = 'deleteContacts'>Delete Contacts</a>
  <a class="nav-link" id="v-Websocket-contact-tab" aria-controls="v-Websocket-contact" data-toggle="pill" role="tab" routerLink = 'Websocket-contact'>Websocket test</a>
</nav>