<nav class="nav flex-column nav-pills varticalNav" id="v-profile-tab" role="tablist">
    <a class="nav-link" id="v-myprofile-tab" aria-controls="v-myprofile" data-toggle="pill" role="tab" routerLink = 'myprofile'>My Profile</a>
    <a class="nav-link" id="v-createProfileForm-tab" aria-controls="v-createProfileForm" data-toggle="pill" role="tab" routerLink = 'createProfileForm'>Create Profile</a>
    <a class="nav-link" id="v-editProfilchangePasswordFormeForm-tab" aria-controls="v-editProfileForm" data-toggle="pill" role="tab" routerLink = 'editProfileForm'>Edit Profile</a>
    <a class="nav-link" id="v-changePasswordForm-tab" aria-controls="v-changePasswordForm" data-toggle="pill" role="tab" routerLink = 'changePasswordForm'>Change Password</a>
    <a class="nav-link" id="v-forgotPasswordForm-tab" aria-controls="v-forgotPasswordForm" data-toggle="pill" role="tab" routerLink = 'forgotPasswordForm'>Forgot Password</a>
    <a class="nav-link" id="v-authenticationForm-tab" aria-controls="v-authenticationForm" data-toggle="pill" role="tab" routerLink = 'authenticationForm'>Login</a>
    <a class="nav-link" id="v-logout-tab" aria-controls="v-logout" data-toggle="pill" role="tab" routerLink = 'logout'>Logout</a>
  </nav>